.toolbar {
    position: fixed;
    width: 100%;
    background: hsl(209, 65%, 26%);
    /* height: 60px;
} */
    height: 7.3%;
}
.toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar__logo{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.toolbar__logo a {
    text-decoration: none;
}
a:link, a:visited {
    color: white;
}

.spacer{
    flex: 1;
}
.toolbar_navigation-items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation-items li{
    padding: 0 0.5rem;
}


.toolbar_navigation-items a{
    color: white;
    text-decoration: aqua;
    font-size: 1.5rem;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active{
    color: orange;

}